// Assuming your SCSS file is named Home.scss

.container {
  flex: 1;
  background-color: #684436;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.buttonContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
