.navigationButton {
  background-color: green; // Use a variable
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 200;
}

.navigationButtonText {
  text-align: center;
  font-size: 16px;
  color: white;
}
